body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:108px;
  width:896px;
  height:384px;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:235px;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:0px;
  width:179px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:0px;
  width:478px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:474px;
  word-wrap:break-word;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:58px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:239px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:235px;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:58px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:30px;
  width:179px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:175px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:58px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:30px;
  width:478px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:474px;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:58px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:239px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:235px;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:58px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:88px;
  width:179px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:175px;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:58px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:88px;
  width:478px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:474px;
  word-wrap:break-word;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:146px;
  width:239px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:235px;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:146px;
  width:179px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:146px;
  width:478px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:474px;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:239px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:235px;
  word-wrap:break-word;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:176px;
  width:179px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:176px;
  width:478px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:474px;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:239px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:235px;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:206px;
  width:179px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:206px;
  width:478px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:474px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:58px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:239px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:235px;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:58px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:236px;
  width:179px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:175px;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:58px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:236px;
  width:478px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:474px;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:239px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:235px;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:294px;
  width:179px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:294px;
  width:478px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:474px;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:239px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:235px;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:324px;
  width:179px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:324px;
  width:478px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:474px;
  word-wrap:break-word;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:354px;
  width:239px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:235px;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:354px;
  width:179px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:175px;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:354px;
  width:478px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:474px;
  word-wrap:break-word;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:35px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:32px;
  width:193px;
  height:27px;
}
#u1011_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1011_input:disabled {
  color:grayText;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:38px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:35px;
  width:193px;
  height:27px;
}
#u1014_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1014_input:disabled {
  color:grayText;
}
#u1015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:33px;
  width:83px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u1016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:33px;
  width:83px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:159px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:218px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:261px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:291px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:320px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:363px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:409px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:438px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:468px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009DD9;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
