body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:463px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:22px;
  width:717px;
  height:463px;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:100px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:535px;
  width:718px;
  height:100px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:485px;
  width:725px;
  height:59px;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:495px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:495px;
  width:62px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u962_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:492px;
  width:62px;
  height:25px;
}
#u964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:495px;
  width:38px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:495px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u966_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:495px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u967_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:495px;
  width:60px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u968_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
