body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:59px;
  background:-webkit-linear-gradient(270deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u12331 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:213px;
  width:241px;
  height:59px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u12331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:237px;
  word-wrap:break-word;
}
#u12332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12332 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:213px;
  width:100px;
  height:60px;
}
#u12332_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u12333 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:243px;
  width:0px;
  height:0px;
}
#u12333_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u12333_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12333_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12334 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:243px;
  width:0px;
  height:0px;
}
#u12334_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u12334_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12334_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:113px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12335 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:186px;
  width:220px;
  height:113px;
  font-size:14px;
}
#u12335_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:216px;
  word-wrap:break-word;
}
#u12336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:55px;
  background:-webkit-linear-gradient(270deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12336 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:215px;
  width:296px;
  height:55px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:292px;
  word-wrap:break-word;
}
#u12337 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:243px;
  width:0px;
  height:0px;
}
#u12337_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u12337_seg1 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12337_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12338 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:270px;
  width:0px;
  height:0px;
}
#u12338_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u12338_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u12338_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12339 {
  border-width:0px;
  position:absolute;
  left:1567px;
  top:413px;
  width:0px;
  height:0px;
}
#u12339_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u12339_seg1 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-9px;
  width:94px;
  height:8px;
}
#u12339_seg2 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-82px;
  width:8px;
  height:81px;
}
#u12339_seg3 {
  border-width:0px;
  position:absolute;
  left:-868px;
  top:-82px;
  width:786px;
  height:8px;
}
#u12339_seg4 {
  border-width:0px;
  position:absolute;
  left:-868px;
  top:-141px;
  width:8px;
  height:67px;
}
#u12339_seg5 {
  border-width:0px;
  position:absolute;
  left:-874px;
  top:-148px;
  width:20px;
  height:20px;
}
#u12339_text {
  border-width:0px;
  position:absolute;
  left:-474px;
  top:-87px;
  width:100px;
  word-wrap:break-word;
}
#u12340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u12340 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:203px;
  width:60px;
  height:80px;
}
#u12340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  word-wrap:break-word;
}
#u12341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u12341 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:333px;
  width:60px;
  height:80px;
}
#u12341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  word-wrap:break-word;
}
#u12342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u12342 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:91px;
  width:60px;
  height:80px;
}
#u12342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  word-wrap:break-word;
}
#u12343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12343 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:213px;
  width:100px;
  height:60px;
}
#u12343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u12344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12344 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:213px;
  width:100px;
  height:60px;
}
#u12344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u12345 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:131px;
  width:0px;
  height:0px;
}
#u12345_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u12345_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:120px;
}
#u12345_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:108px;
  width:35px;
  height:8px;
}
#u12345_seg3 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:102px;
  width:20px;
  height:20px;
}
#u12345_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12346 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:243px;
  width:0px;
  height:0px;
}
#u12346_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u12346_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12346_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12347 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:373px;
  width:0px;
  height:0px;
}
#u12347_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:25px;
  height:8px;
}
#u12347_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-134px;
  width:8px;
  height:138px;
}
#u12347_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-134px;
  width:34px;
  height:8px;
}
#u12347_seg3 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-140px;
  width:20px;
  height:20px;
}
#u12347_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:-78px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12348 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:243px;
  width:0px;
  height:0px;
}
#u12348_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u12348_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12348_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12349 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:243px;
  width:0px;
  height:0px;
}
#u12349_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u12349_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12349_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12350 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:653px;
  width:296px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:292px;
  word-wrap:break-word;
}
#u12351 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:463px;
  width:0px;
  height:0px;
}
#u12351_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:194px;
}
#u12351_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:177px;
  width:20px;
  height:20px;
}
#u12351_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:86px;
  width:100px;
  word-wrap:break-word;
}
#u12352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:100px;
}
#u12352 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:360px;
  width:221px;
  height:100px;
}
#u12352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:217px;
  word-wrap:break-word;
}
#u12353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12353 {
  border-width:0px;
  position:absolute;
  left:1751px;
  top:218px;
  width:270px;
  height:49px;
}
#u12353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:266px;
  word-wrap:break-word;
}
#u12354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12354 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:1053px;
  width:296px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12354_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:292px;
  word-wrap:break-word;
}
#u12355 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:713px;
  width:0px;
  height:0px;
}
#u12355_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:111px;
}
#u12355_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:94px;
  width:20px;
  height:20px;
}
#u12355_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12356 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:923px;
  width:0px;
  height:0px;
}
#u12356_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:134px;
}
#u12356_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:117px;
  width:20px;
  height:20px;
}
#u12356_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12357 {
  border-width:0px;
  position:absolute;
  left:1503px;
  top:820px;
  width:181px;
  height:98px;
}
#u12357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:177px;
  word-wrap:break-word;
}
#u12358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:113px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12358 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:35px;
  width:220px;
  height:113px;
  font-size:14px;
}
#u12358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:216px;
  word-wrap:break-word;
}
#u12359 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:213px;
  width:0px;
  height:0px;
}
#u12359_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-65px;
  width:8px;
  height:69px;
}
#u12359_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-72px;
  width:20px;
  height:20px;
}
#u12359_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12360 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:92px;
  width:0px;
  height:0px;
}
#u12360_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:998px;
  height:8px;
}
#u12360_seg1 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:-4px;
  width:8px;
  height:127px;
}
#u12360_seg2 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:110px;
  width:20px;
  height:20px;
}
#u12360_text {
  border-width:0px;
  position:absolute;
  left:508px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
