body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:59px;
  background:-webkit-linear-gradient(270deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u11968 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:213px;
  width:241px;
  height:59px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u11968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:237px;
  word-wrap:break-word;
}
#u11969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11969 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:213px;
  width:100px;
  height:60px;
}
#u11969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u11970 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:243px;
  width:0px;
  height:0px;
}
#u11970_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u11970_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11970_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11971 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:243px;
  width:0px;
  height:0px;
}
#u11971_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u11971_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11971_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:113px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11972 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:186px;
  width:220px;
  height:113px;
  font-size:14px;
}
#u11972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:216px;
  word-wrap:break-word;
}
#u11973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:55px;
  background:-webkit-linear-gradient(270deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11973 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:215px;
  width:296px;
  height:55px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:292px;
  word-wrap:break-word;
}
#u11974 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:243px;
  width:0px;
  height:0px;
}
#u11974_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u11974_seg1 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11974_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11975 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:270px;
  width:0px;
  height:0px;
}
#u11975_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u11975_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u11975_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11976 {
  border-width:0px;
  position:absolute;
  left:1567px;
  top:413px;
  width:0px;
  height:0px;
}
#u11976_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u11976_seg1 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-9px;
  width:94px;
  height:8px;
}
#u11976_seg2 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-82px;
  width:8px;
  height:81px;
}
#u11976_seg3 {
  border-width:0px;
  position:absolute;
  left:-868px;
  top:-82px;
  width:786px;
  height:8px;
}
#u11976_seg4 {
  border-width:0px;
  position:absolute;
  left:-868px;
  top:-141px;
  width:8px;
  height:67px;
}
#u11976_seg5 {
  border-width:0px;
  position:absolute;
  left:-874px;
  top:-148px;
  width:20px;
  height:20px;
}
#u11976_text {
  border-width:0px;
  position:absolute;
  left:-474px;
  top:-87px;
  width:100px;
  word-wrap:break-word;
}
#u11977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u11977 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:203px;
  width:60px;
  height:80px;
}
#u11977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  word-wrap:break-word;
}
#u11978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u11978 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:333px;
  width:60px;
  height:80px;
}
#u11978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  word-wrap:break-word;
}
#u11979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u11979 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:91px;
  width:60px;
  height:80px;
}
#u11979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:56px;
  word-wrap:break-word;
}
#u11980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11980 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:213px;
  width:100px;
  height:60px;
}
#u11980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u11981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11981 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:213px;
  width:100px;
  height:60px;
}
#u11981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u11982 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:131px;
  width:0px;
  height:0px;
}
#u11982_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u11982_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:120px;
}
#u11982_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:108px;
  width:35px;
  height:8px;
}
#u11982_seg3 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:102px;
  width:20px;
  height:20px;
}
#u11982_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11983 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:243px;
  width:0px;
  height:0px;
}
#u11983_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u11983_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11983_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11984 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:373px;
  width:0px;
  height:0px;
}
#u11984_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:25px;
  height:8px;
}
#u11984_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-134px;
  width:8px;
  height:138px;
}
#u11984_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-134px;
  width:34px;
  height:8px;
}
#u11984_seg3 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-140px;
  width:20px;
  height:20px;
}
#u11984_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:-78px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11985 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:243px;
  width:0px;
  height:0px;
}
#u11985_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u11985_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11985_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11986 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:243px;
  width:0px;
  height:0px;
}
#u11986_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u11986_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11986_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11987 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:653px;
  width:296px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:292px;
  word-wrap:break-word;
}
#u11988 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:463px;
  width:0px;
  height:0px;
}
#u11988_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:194px;
}
#u11988_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:177px;
  width:20px;
  height:20px;
}
#u11988_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:86px;
  width:100px;
  word-wrap:break-word;
}
#u11989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:100px;
}
#u11989 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:360px;
  width:221px;
  height:100px;
}
#u11989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:217px;
  word-wrap:break-word;
}
#u11990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11990 {
  border-width:0px;
  position:absolute;
  left:1751px;
  top:218px;
  width:270px;
  height:49px;
}
#u11990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:266px;
  word-wrap:break-word;
}
#u11991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11991 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:1053px;
  width:296px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:292px;
  word-wrap:break-word;
}
#u11992 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:713px;
  width:0px;
  height:0px;
}
#u11992_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:111px;
}
#u11992_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:94px;
  width:20px;
  height:20px;
}
#u11992_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:923px;
  width:0px;
  height:0px;
}
#u11993_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:134px;
}
#u11993_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:117px;
  width:20px;
  height:20px;
}
#u11993_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11994 {
  border-width:0px;
  position:absolute;
  left:1503px;
  top:820px;
  width:181px;
  height:98px;
}
#u11994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:177px;
  word-wrap:break-word;
}
#u11995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:113px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11995 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:35px;
  width:220px;
  height:113px;
  font-size:14px;
}
#u11995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:216px;
  word-wrap:break-word;
}
#u11996 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:213px;
  width:0px;
  height:0px;
}
#u11996_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-65px;
  width:8px;
  height:69px;
}
#u11996_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-72px;
  width:20px;
  height:20px;
}
#u11996_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11997 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:92px;
  width:0px;
  height:0px;
}
#u11997_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:998px;
  height:8px;
}
#u11997_seg1 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:-4px;
  width:8px;
  height:127px;
}
#u11997_seg2 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:110px;
  width:20px;
  height:20px;
}
#u11997_text {
  border-width:0px;
  position:absolute;
  left:508px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
