body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:1531px;
}
#u13584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:1531px;
}
#u13584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1394px;
  height:656px;
}
#u13585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1560px;
  width:1394px;
  height:656px;
}
#u13585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
