body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:628px;
}
#u3796 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:98px;
  width:1203px;
  height:628px;
}
#u3796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:691px;
}
#u3797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:219px;
  height:691px;
}
#u3797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
