body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u8564 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:712px;
  width:60px;
  height:80px;
}
#u8564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u8565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8565 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:722px;
  width:307px;
  height:60px;
}
#u8565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:303px;
  word-wrap:break-word;
}
#u8566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8566 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:722px;
  width:100px;
  height:60px;
}
#u8566_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8567 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:752px;
  width:0px;
  height:0px;
}
#u8567_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u8567_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8567_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8568 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:752px;
  width:0px;
  height:0px;
}
#u8568_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u8568_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8568_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8569 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:839px;
  width:100px;
  height:60px;
}
#u8569_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8570 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:839px;
  width:100px;
  height:60px;
}
#u8570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8571 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:839px;
  width:100px;
  height:60px;
  font-size:14px;
}
#u8571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u8572 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:839px;
  width:126px;
  height:60px;
}
#u8572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:122px;
  word-wrap:break-word;
}
#u8573 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:899px;
  width:0px;
  height:0px;
}
#u8573_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u8573_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:73px;
}
#u8573_seg2 {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:66px;
  width:143px;
  height:8px;
}
#u8573_seg3 {
  border-width:0px;
  position:absolute;
  left:-575px;
  top:66px;
  width:444px;
  height:8px;
}
#u8573_seg4 {
  border-width:0px;
  position:absolute;
  left:-575px;
  top:0px;
  width:8px;
  height:74px;
}
#u8573_seg5 {
  border-width:0px;
  position:absolute;
  left:-581px;
  top:-7px;
  width:20px;
  height:20px;
}
#u8573_text {
  border-width:0px;
  position:absolute;
  left:-336px;
  top:43px;
  width:100px;
  word-wrap:break-word;
}
#u8574 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:869px;
  width:0px;
  height:0px;
}
#u8574_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u8574_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8574_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8575 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:869px;
  width:0px;
  height:0px;
}
#u8575_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u8575_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8575_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8576 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:839px;
  width:100px;
  height:60px;
  font-size:14px;
}
#u8576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8577 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:869px;
  width:0px;
  height:0px;
}
#u8577_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u8577_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8577_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8578 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:869px;
  width:0px;
  height:0px;
}
#u8578_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u8578_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8578_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8579 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:839px;
  width:100px;
  height:60px;
  font-size:14px;
}
#u8579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8580 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:869px;
  width:0px;
  height:0px;
}
#u8580_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u8580_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8580_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8581 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:869px;
  width:0px;
  height:0px;
}
#u8581_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:251px;
  height:8px;
}
#u8581_seg1 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:-87px;
  width:8px;
  height:91px;
}
#u8581_seg2 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:-94px;
  width:20px;
  height:20px;
}
#u8581_text {
  border-width:0px;
  position:absolute;
  left:117px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8582 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1072px;
  width:100px;
  height:60px;
}
#u8582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8583 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:1072px;
  width:100px;
  height:60px;
}
#u8583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8584 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:1072px;
  width:100px;
  height:60px;
  font-size:14px;
}
#u8584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u8585 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:1072px;
  width:126px;
  height:60px;
}
#u8585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:122px;
  word-wrap:break-word;
}
#u8586 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:1132px;
  width:0px;
  height:0px;
}
#u8586_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u8586_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:73px;
}
#u8586_seg2 {
  border-width:0px;
  position:absolute;
  left:-350px;
  top:66px;
  width:354px;
  height:8px;
}
#u8586_seg3 {
  border-width:0px;
  position:absolute;
  left:-350px;
  top:66px;
  width:8px;
  height:81px;
}
#u8586_seg4 {
  border-width:0px;
  position:absolute;
  left:-356px;
  top:134px;
  width:20px;
  height:20px;
}
#u8586_text {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:43px;
  width:100px;
  word-wrap:break-word;
}
#u8587 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1102px;
  width:0px;
  height:0px;
}
#u8587_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u8587_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8587_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8588 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:1102px;
  width:0px;
  height:0px;
}
#u8588_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u8588_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8588_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8589 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:1072px;
  width:100px;
  height:60px;
  font-size:14px;
}
#u8589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8590 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1102px;
  width:0px;
  height:0px;
}
#u8590_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u8590_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8590_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8591 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:1102px;
  width:0px;
  height:0px;
}
#u8591_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u8591_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8591_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8592 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:1072px;
  width:100px;
  height:60px;
  font-size:14px;
}
#u8592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8593 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:1102px;
  width:0px;
  height:0px;
}
#u8593_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u8593_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8593_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8594 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:1280px;
  width:100px;
  height:60px;
  font-size:14px;
}
#u8594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8595 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:1310px;
  width:0px;
  height:0px;
}
#u8595_seg0 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:-4px;
  width:177px;
  height:8px;
}
#u8595_seg1 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:-178px;
  width:8px;
  height:182px;
}
#u8595_seg2 {
  border-width:0px;
  position:absolute;
  left:-183px;
  top:-185px;
  width:20px;
  height:20px;
}
#u8595_text {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u8596 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:1102px;
  width:0px;
  height:0px;
}
#u8596_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:251px;
  height:8px;
}
#u8596_seg1 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:-320px;
  width:8px;
  height:324px;
}
#u8596_seg2 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:-327px;
  width:20px;
  height:20px;
}
#u8596_text {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8597 {
  border-width:0px;
  position:absolute;
  left:1736px;
  top:722px;
  width:100px;
  height:60px;
}
#u8597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8598 {
  border-width:0px;
  position:absolute;
  left:1932px;
  top:722px;
  width:119px;
  height:60px;
}
#u8598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:115px;
  word-wrap:break-word;
}
#u8599 {
  border-width:0px;
  position:absolute;
  left:1836px;
  top:752px;
  width:0px;
  height:0px;
}
#u8599_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u8599_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8599_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8600 {
  border-width:0px;
  position:absolute;
  left:2051px;
  top:752px;
  width:0px;
  height:0px;
}
#u8600_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u8600_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8600_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8601 {
  border-width:0px;
  position:absolute;
  left:2131px;
  top:722px;
  width:100px;
  height:60px;
}
#u8601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8602 {
  border-width:0px;
  position:absolute;
  left:2298px;
  top:722px;
  width:119px;
  height:60px;
}
#u8602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:115px;
  word-wrap:break-word;
}
#u8603 {
  border-width:0px;
  position:absolute;
  left:2231px;
  top:752px;
  width:0px;
  height:0px;
}
#u8603_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u8603_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8603_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u8604 {
  border-width:0px;
  position:absolute;
  left:2181px;
  top:782px;
  width:0px;
  height:0px;
}
#u8604_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:103px;
}
#u8604_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:95px;
  width:371px;
  height:8px;
}
#u8604_seg2 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:8px;
  height:103px;
}
#u8604_seg3 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:-7px;
  width:20px;
  height:20px;
}
#u8604_text {
  border-width:0px;
  position:absolute;
  left:132px;
  top:90px;
  width:100px;
  word-wrap:break-word;
}
#u8605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8605 {
  border-width:0px;
  position:absolute;
  left:2494px;
  top:722px;
  width:100px;
  height:60px;
}
#u8605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8606 {
  border-width:0px;
  position:absolute;
  left:2417px;
  top:752px;
  width:0px;
  height:0px;
}
#u8606_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u8606_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8606_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8607 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:722px;
  width:100px;
  height:60px;
}
#u8607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8608 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:752px;
  width:0px;
  height:0px;
}
#u8608_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u8608_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8608_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8609 {
  border-width:0px;
  position:absolute;
  left:1590px;
  top:752px;
  width:0px;
  height:0px;
}
#u8609_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:150px;
  height:8px;
}
#u8609_seg1 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8609_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8610 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:881px;
  width:100px;
  height:60px;
}
#u8610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8611 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:782px;
  width:0px;
  height:0px;
}
#u8611_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:103px;
}
#u8611_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:86px;
  width:20px;
  height:20px;
}
#u8611_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8612 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:1009px;
  width:100px;
  height:60px;
}
#u8612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8613 {
  border-width:0px;
  position:absolute;
  left:1591px;
  top:1009px;
  width:100px;
  height:60px;
}
#u8613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8614 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:1128px;
  width:100px;
  height:60px;
}
#u8614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8615 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:1069px;
  width:0px;
  height:0px;
}
#u8615_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u8615_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u8615_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8616 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:941px;
  width:0px;
  height:0px;
}
#u8616_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u8616_seg1 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:23px;
  width:110px;
  height:8px;
}
#u8616_seg2 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:23px;
  width:8px;
  height:45px;
}
#u8616_seg3 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:55px;
  width:20px;
  height:20px;
}
#u8616_text {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8617 {
  border-width:0px;
  position:absolute;
  left:1501px;
  top:1260px;
  width:100px;
  height:60px;
}
#u8617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8618 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:1188px;
  width:0px;
  height:0px;
}
#u8618_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u8618_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:58px;
  width:121px;
  height:8px;
}
#u8618_seg2 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:58px;
  width:8px;
  height:14px;
}
#u8618_seg3 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:59px;
  width:20px;
  height:20px;
}
#u8618_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:53px;
  width:100px;
  word-wrap:break-word;
}
#u8619 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:941px;
  width:0px;
  height:0px;
}
#u8619_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u8619_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:20px;
  width:109px;
  height:8px;
}
#u8619_seg2 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:20px;
  width:8px;
  height:48px;
}
#u8619_seg3 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:55px;
  width:20px;
  height:20px;
}
#u8619_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8620 {
  border-width:0px;
  position:absolute;
  left:1591px;
  top:1115px;
  width:100px;
  height:60px;
}
#u8620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8621 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:1069px;
  width:0px;
  height:0px;
}
#u8621_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u8621_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u8621_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8622 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:1175px;
  width:0px;
  height:0px;
}
#u8622_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u8622_seg1 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:71px;
  width:98px;
  height:8px;
}
#u8622_seg2 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:71px;
  width:8px;
  height:14px;
}
#u8622_seg3 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:72px;
  width:20px;
  height:20px;
}
#u8622_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:66px;
  width:100px;
  word-wrap:break-word;
}
#u8623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8623 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:582px;
  width:100px;
  height:60px;
}
#u8623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8624 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:722px;
  width:0px;
  height:0px;
}
#u8624_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-80px;
  width:8px;
  height:84px;
}
#u8624_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-87px;
  width:20px;
  height:20px;
}
#u8624_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8625 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:451px;
  width:100px;
  height:60px;
}
#u8625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8626 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:582px;
  width:0px;
  height:0px;
}
#u8626_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-71px;
  width:8px;
  height:75px;
}
#u8626_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-78px;
  width:20px;
  height:20px;
}
#u8626_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8627 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:319px;
  width:100px;
  height:60px;
}
#u8627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8628 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:451px;
  width:0px;
  height:0px;
}
#u8628_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-72px;
  width:8px;
  height:76px;
}
#u8628_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-79px;
  width:20px;
  height:20px;
}
#u8628_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8629 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:211px;
  width:100px;
  height:60px;
}
#u8629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8630 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:241px;
  width:0px;
  height:0px;
}
#u8630_seg0 {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:-4px;
  width:280px;
  height:8px;
}
#u8630_seg1 {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:-4px;
  width:8px;
  height:485px;
}
#u8630_seg2 {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:468px;
  width:20px;
  height:20px;
}
#u8630_text {
  border-width:0px;
  position:absolute;
  left:-326px;
  top:94px;
  width:100px;
  word-wrap:break-word;
}
#u8631 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:319px;
  width:0px;
  height:0px;
}
#u8631_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-48px;
  width:8px;
  height:52px;
}
#u8631_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-55px;
  width:20px;
  height:20px;
}
#u8631_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8632 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:211px;
  width:0px;
  height:0px;
}
#u8632_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-51px;
  width:8px;
  height:55px;
}
#u8632_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-58px;
  width:20px;
  height:20px;
}
#u8632_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8633 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:100px;
  width:100px;
  height:60px;
}
#u8633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
